body
{
    background-color: white;;
}
h1 {
    width: 140px;
    height: 35px;
    left: 40%;
    top: 0px;
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 88px;
    text-align: center;
    color: #000000;
    position: relative;
}
#logo
{
    position: absolute;
    width: 112.17px;
    height: 102px;
    left: 0px;
    top: 0px;
    background-image: url(../sourse/image/logo.png);
    background-repeat: no-repeat;
}

header
{
    position: absolute;
    width: 100%;
    height: 102px;
    left: 0px;
    top: 0px;
    
    background: #D9D9D9; 
}

h2
{
    width: 649px;
    height: 99px;
    left: 395px;
    top: 2113px;

    font-family: 'Bell MT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;

    color: #000000;

} 

#firstnews
{
    position:relative;
    width: 628px;
    height: 620px;
    left: 0px;
    top: 146px;
    background-image: url(../sourse/image/photo1.png);
    background-repeat: no-repeat; 
}
#textOne
{
    width: 405px;
    height: 70px;
    left: 0px;
    top: 224px;
    
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    
    color: #000000;
}

#textTwo
{
    position: relative;
    width: 628px;
    height: 40px;
    left: 0px;
    top: 85%;

    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}
#secondnews
{
    position: absolute;
    width: 628px;
    height: 620px;
    left: 811px;
    top: 170px;
    background-image: url(../sourse/image/photo2.png);
    background-repeat: no-repeat;

}

#Twotext
{
    position: relative;
    width: 626px;
    height: 165px;
    left: 1px;
    top: 97%;

    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

#thirdnews
{
    position: relative;
    width: 628px;
    height: 620px;
    left: 0px;
    top: 400px;
    background-image: url(../sourse/image/photo3.png);
    background-repeat: no-repeat;
}

#Threetext
{
    position: relative;
    width: 628px;
    height: 128px;
    left: 0px;
    top: 100%;

    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

#fournews
{
    position: relative;
    width: 628px;
    height: 620px;
    left: 809px;
    top: -242px;
    background-image: url(../sourse/image/photo4.png);
    background-repeat: no-repeat;
}

#Fourtext
{
    position: relative;
    width: 626px;
    height: 114px;
    left: 8px;
    top: 100%;

    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

#logo2
{
    width: 124px;
    height: 123px;
    left: 0px;
    top: 2066px;
    background-image: url(../sourse/image/logo.png);
    background-repeat: no-repeat;

}
h3
{
    position: absolute;
    width: 1440px;
    height: 161px;
    left: 0px;
    top: 0px;
    
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 88px;
    text-align: center;
    
    color: #000000;     
}

#new1
{
    position: absolute;
    width: 1440px;
    height: 919px;
    left: 0px;
    top: 161px;
    background-image: url(../sourse/image/new1.png);
    background-repeat: no-repeat;
}

#text1
{
    position: absolute;
    width: 1440px;
    height: 351px;
    left: 0px;
    top: 1080px;

    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;

    color: #000000;

}
#h2
{
    width: 649px;
    height: 99px;
    left: 395px;
    top: 2113px;

    font-family: 'Bell MT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;

    color: #000000;
}
a
{
    width: 649px;
    height: 99px;
    left: 395px;
    top: 2113px;
}
url
{

    width: 649px;
    height: 99px;
    left: 395px;
    top: 2113px;
    
    font-family: 'Bell MT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    
    color: #000000;
}
url1
{

    width: 649px;
    height: 99px;
    left: 395px;
    top: 2113px;
    
    font-family: 'Bell MT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    
    color: #000000;
} 
url2
{

    width: 649px;
    height: 99px;
    left: 395px;
    top: 2113px;
    
    font-family: 'Bell MT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    
    color: #000000;
}  
url3
{

    width: 649px;
    height: 99px;
    left: 395px;
    top: 2113px;
    
    font-family: 'Bell MT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    
    color: #000000;
}    

footer
{
    position: relative;
    width: 100%;
    height: 166px;
    left: 0px;
    top: -70px;

    background: #D9D9D9;
}
